
<header>
<div class="navbar-default headerUda" >
  <div class="container">
    <div class="row">
      <div class="col-sm-4 flex-container-pc colHeardUda" >
        <img class="logoUDA pointer" src="../../assets/imagen-common/barra1uda_logo_uda2.png"
             onclick="window.open('https://www.uazuay.edu.ec');"
             title="Universidad del Azuay - Inicio" alt="Universidad del Azuay" >
      </div>

      <div class="col-sm-4 flex-container-pc colHeardUda" >
        <img class="pointer"  src="../../assets/imagen-common/barra1uda_logo_instagram.png"
             onclick="window.open('https://www.instagram.com/uda.oficial');"
             title="Instagram - uda.oficial" alt="Instagram - uda.oficial">

        <div class="espacio40"></div>

        <img class="pointer" src="../../assets/imagen-common/barra1uda_logo_twitter.png"
             onclick="window.open('https://www.twitter.com/uazuay');"
             title="Twitter - Universidad del Azuay"
             alt="Twitter - Universidad del Azuay" >
        <div class="espacio40"></div>

        <img class="pointer" src="../../assets/imagen-common/barra1uda_logo_facebook.png"
             onclick="window.open('https://www.facebook.com/uazuay');"
             title="Facebook - Universidad del Azuay"
             alt="Facebook - Universidad del Azuay">
      </div>

      <div class="col-sm-4 flex-container-rc colHeardUda" >
        <img class="pointer" src="../../assets/imagen-common/barra1uda_ingresousuarios.png"
             onclick="window.open('http://www.uazuay.edu.ec/portal');"
             title="Ingreso a los servicios web"
             alt="Facebook - Universidad del Azuay">
        <div class="espacio40"></div>

        <img class="pointer" src="../../assets/imagen-common/barra1uda_ingresocorreo.png"
             onclick="window.open('https://www.uazuay.edu.ec/correo-electronico');"
             title="Correo" alt="Correo">
      </div>
    </div>
  </div>
</div>

  <nav class="navbar navbar-default barragrad">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand flex-container-vc1 homeIerse" routerLink="home" title="Inicio">
          <img src="../../assets/imagen-common/logo-interno11_IERSE.png" style="height: 39px;" alt="Instituto de Estudios de R&eacute;gimen Seccional del Ecuador"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" style="font-size: 15.9px;">
          <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/vinculacion.php">VINCULACIÓN CON LA SOCIEDAD</a></li>
          <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/proyectos.php">PROYECTOS</a></li>
          <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/servicios-ide.php">SERVICIOS (IDE)</a></li>
          <li class="txtnavbar"><a href="#">DESCARGAS</a></li>
          <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/paginas-amigas.php">PÁGINAS AMIGAS</a></li>
          <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/contactenos.php">CONTÁCTENOS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>
            <img src="../../assets/imagen-common/barra2ierse_logo_youtube.png"  onclick="window.open('https://www.youtube.com/channel/UCOHs_of2fvUg95a_6vTfqFg');" style="cursor: pointer;" title="Youtube - Geom&aacute;tica y Territorio UDA" alt="Youtube - Geom&aacute;tica y Territorio UDA">
            &nbsp;&nbsp;

            <img src="../../assets/imagen-common/barra2ierse_logo_twitter.png" onclick="window.open('https://twitter.com/ierseuda');" style="cursor: pointer;" title="Twitter - IERSE UDA" alt="Twitter - IERSE UDA">
            &nbsp;&nbsp;

            <img src="../../assets/imagen-common/barra2ierse_logo_facebook.png" onclick="window.open('https://www.facebook.com/IERSE-UDA-473444096547040/');" style="cursor: pointer;" title="Facebook - Infraestructura de Datos Espaciales" alt="Facebook - Infraestructura De Datos Espaciales">
          </a></li>
        </ul>
      </div>
    </div>
  </nav>

</header>
