
<header>
<div class="navbar-default" >
  <div class="container" >
    <div class="row">
      <div class="col-sm-4 flex-container-pc" style="height: 86px;" id="col_logouda">
        <img src="../../assets/imagen-common/barra1uda_logo_uda2.png" onclick="window.open('https://www.uazuay.edu.ec');" style="cursor: pointer; height: 50px;" title="Universidad del Azuay - Inicio" alt="Universidad del Azuay" id="logoUDA">
      </div>

      <div class="col-sm-4 flex-container-pc" style="height: 86px;" id="col_redesuda">
        <img src="../../assets/imagen-common/barra1uda_logo_instagram.png" onclick="window.open('https://www.instagram.com/uda.oficial');" style="cursor: pointer;" title="Instagram - uda.oficial" alt="Instagram - uda.oficial">

        <!-- ESPACIADO -->
        <div style="width: 40px;"></div>

        <img src="../../assets/imagen-common/barra1uda_logo_twitter.png" onclick="window.open('https://www.twitter.com/uazuay');" style="cursor: pointer;" title="Twitter - Universidad del Azuay" alt="Twitter - Universidad del Azuay">

        <!-- ESPACIADO -->
        <div style="width: 40px;"></div>

        <img src="../../assets/imagen-common/barra1uda_logo_facebook.png" onclick="window.open('https://www.facebook.com/uazuay');" style="cursor: pointer;" title="Facebook - Universidad del Azuay" alt="Facebook - Universidad del Azuay">
      </div>

      <div class="col-sm-4 flex-container-rc" style="height: 86px;" id="col_usrcorreo">
        <img src="../../assets/imagen-common/barra1uda_ingresousuarios.png" onclick="window.open('http://www.uazuay.edu.ec/portal');" style="cursor: pointer;" title="Ingreso a los servicios web" alt="Facebook - Universidad del Azuay">

        <!-- ESPACIADO -->
        <div style="width: 30px;"></div>

        <img src="../../assets/imagen-common/barra1uda_ingresocorreo.png" onclick="window.open('https://www.uazuay.edu.ec/correo-electronico');" style="cursor: pointer;" title="Correo" alt="Correo">
      </div>
    </div>
  </div>
</div>

<!-- IERSE Collapsable Navbar -->
<nav class="navbar navbar-default barragrad">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color: #009bff;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand flex-container-vc1" href="../ierse2019/" style="font-weight: bold; font-size:36px; text-align: center;" title="Inicio"><img src="../../assets/imagen-common/logo-interno11_IERSE.png" style="height: 39px;" alt="Instituto de Estudios de R&eacute;gimen Seccional del Ecuador"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="font-size: 15.9px;">
        <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/vinculacion.php">VINCULACIÓN CON LA SOCIEDAD</a></li>
        <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/proyectos.php">PROYECTOS</a></li>
        <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/servicios-ide.php">SERVICIOS (IDE)</a></li>
        <li class="txtnavbar"><a href="#">DESCARGAS</a></li>
        <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/paginas-amigas.php">PÁ;GINAS AMIGAS</a></li>
        <li class="txtnavbar"><a href="http://ierse.uazuay.edu.ec/contactenos.php">CONTÁCTENOS</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>
          <img src="../../assets/imagen-common/barra2ierse_logo_youtube.png"  onclick="window.open('https://www.youtube.com/channel/UCOHs_of2fvUg95a_6vTfqFg');" style="cursor: pointer;" title="Youtube - Geom&aacute;tica y Territorio UDA" alt="Youtube - Geom&aacute;tica y Territorio UDA">
          &nbsp;&nbsp;

          <img src="../../assets/imagen-common/barra2ierse_logo_twitter.png" onclick="window.open('https://twitter.com/ierseuda');" style="cursor: pointer;" title="Twitter - IERSE UDA" alt="Twitter - IERSE UDA">
          &nbsp;&nbsp;

          <img src="../../assets/imagen-common/barra2ierse_logo_facebook.png" onclick="window.open('https://www.facebook.com/IERSE-UDA-473444096547040/');" style="cursor: pointer;" title="Facebook - Infraestructura de Datos Espaciales" alt="Facebook - Infraestructura De Datos Espaciales">
        </a></li>
      </ul>
    </div>
  </div>
</nav>




</header>
