@media (max-width: 1100px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
.navbar-default {
  background-color: #66a1cb;
  border-color: #66a1cb;
}
.navbar-default .navbar-brand {
  color: #009bff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0070b4;
}
.navbar-default .navbar-text {
  color: #009bff;
}
.navbar-default .navbar-nav > li > a {
  color: #009bff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0070b4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0070b4;
  background-color: #d1f9ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0070b4;
  background-color: #d1f9ff;
}
.navbar-default .navbar-toggle {
  border-color: #d1f9ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d1f9ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #009bff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #009bff;
}
.navbar-default .navbar-link {
  color: #009bff;
}
.navbar-default .navbar-link:hover {
  color: #0070b4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #009bff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0070b4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0070b4;
    background-color: #d1f9ff;
  }
}
#navbaruda {
  min-height: 86px;
  background-color: #0070b4;
}

#navbar-branduda {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}

@media (min-width: 768px) {
  #navbar-navuda > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.flex-container-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
}
.flex-container-vc {
  display: flex;
  height: 86px;
  align-items: center;
}
.flex-container-vc1 {
  display: flex;
  height: 52px;
  align-items: center;
}
.flex-container-rc {
  display: flex;
  height: 86px;
  align-items: center;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}
.columnp {
  float: left;
  width: 50%;
  padding: 10px;
  font-weight: bold
}
.rowp:after {
  content: "";
  display: table;
  clear: both;
}

.barragrad{
  background-image: linear-gradient(#d1f9ff, #d1f9ff, #99f1ff);
}

@media screen and (max-width: 1199px) and (min-width: 1099px) {
  li.txtnavbar {
    font-size: 11.5px;
  }
}
.text{
  color: #ffffff;
  text-align: center;
}
#mapasite{
  height: 13px;
}
.espacio20{
  height: 20px;
}
#logo-uda{
  width:190px;
}
#mapaUda{
  border:0;
  height: 300px;

}
.reparated{
  color: #ffffff;
}
.ilink{
  cursor: pointer;

}
.container{
  font-size: small;
}
#saltoLinea{
  line-height:20px;
}
