<div   class="espacio20" ></div>
<footer class="navbar-default" >
    <div class="container" >
      <div   class="espacio20" ></div>

      <div class="row">

        <iframe id="mapaUda" class="col-xs-12 col-sm-4"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1992.320736681935!2d-79.00190234202358!3d-2.9190444207378388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd1861190d9e4d%3A0xf7d9f888c06a78a9!2sUniversidad+del+Azuay!5e0!3m2!1ses!2sec!4v1548947731508"  >
        </iframe>

        <div class="col-xs-12 col-sm-4 text-center">
          <br>
          <img id="logo-uda" src="../../assets/imagen-common/uazuay-logo.png" >

          <br><br>
          <p class="text center" >
            Av. 24 de Mayo 7-77 y Hernán Malo.<br>
            Teléfono: (593) 7 4091000<br>
            Fax: (593) 72815-997<br>
            Apartado 01.01.981<br>
            <br>
            Cuenca - Ecuador
          </p>

          <br>
          <img class="ilink" src="../../assets/imagen-common/barra1uda_logo_instagram.png" onclick="window.open('https://www.instagram.com/uda.oficial');"  title="Instagram - uda.oficial" alt="Instagram - uda.oficial">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img class="ilink" src="../../assets/imagen-common/barra1uda_logo_twitter.png" onclick="window.open('https://www.twitter.com/uazuay');"  title="Twitter - Universidad del Azuay" alt="Twitter - Universidad del Azuay">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img class="ilink" src="../../assets/imagen-common/barra1uda_logo_facebook.png" onclick="window.open('https://www.facebook.com/uazuay');" title="Facebook - Universidad del Azuay" alt="Facebook - Universidad del Azuay">
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
          <br>
          <img class="ilink" src="../../assets/imagen-common/barra1uda_ingresousuarios.png" onclick="window.open('http://www.uazuay.edu.ec/portal');" style="cursor: pointer;" title="Ingreso a los servicios web" alt="Facebook - Universidad del Azuay">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <img class="ilink" src="../../assets/imagen-common/barra1uda_ingresocorreo.png" onclick="window.open('https://www.uazuay.edu.ec/correo-electronico');" style="cursor: pointer;" title="Correo" alt="Correo">

          <br><br>
          <img  class="ilink" src="../../assets/imagen-common/site_map.png" style="height: 13px;">
          <a href="https://www.uazuay.edu.ec/sitemap"><strong class="text">Mapa del Sitio</strong></a>

          <hr class="reparated">

          <div class="rowp" >
            <div class="columnp">
              <a class="text" href="https://www.uazuay.edu.ec/launiversidad#vision-mision-principios">La Universidad</a><br>
              <a class="text" href="https://www.uazuay.edu.ec/estudios-de-grado/" >Oferta Acad&eacute;mica</a><br>
              <a class="text" href="https://www.uazuay.edu.ec/aspirantes#admisiones-grado" >Procesos Acad&eacute;micos</a><br>
              <a class="text" href="https://vinculacion.uazuay.edu.ec/" >Vinculaci&oacute;n</a><br>
            </div>
            <div class="columnp">
              <a class="text" href="http://biblioteca.uazuay.edu.ec/opac_css/" >Servicios</a><br>
              <a class="text" href="https://www.uazuay.edu.ec/agenda" >Actividades</a><br>
              <a class="text" href="https://www.uazuay.edu.ec/directorio-telefonico" >Cont&aacute;ctenos</a>
            </div>
          </div>

        </div>
      </div>
      <div   class="espacio20" ></div>
    </div>
</footer>
