language: node_js
node_js:
  - '8'
addons:
  chrome: stable
branches:
  - develop
  - /^release-[0-999].[0-999]$/
  - master
notifications:
  email:
    recipients:
      - alecabreralituma2@gmail.com
cache:
  directories:
    - ./node_modules
install:
  - npm install
script:
  - ng lint
  - ng build --prod --base-href https://github.com/AlexandraCabreraLituma/contaminantes-FrontEnd
