language: node_js
node_js:
  - '8'
addons:
  chrome: stable
branches:
  - develop
  - /^release-[0-999].[0-999]$/
  - master
notifications:
  email:
    recipients:
      - alecabreralituma2@gmail.com
