html, body { height: 100%; font-family: 'Source Sans Pro', sans-serif}


.card-columns .card {
  display: inline-block;
  width: 100%;
}
.alert-inf{
  background-color: #cccccc;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.icons {
  padding: 10px;
  background: steelblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.row{
  width: 90%;
  margin: 1rem;
  text-align: center;
  align-content: center;
}
#espacio{
  height: 25vh;
}
.pointer {cursor: pointer;}

